
* + button {
  margin-left: 10px;
}

.hidden {
  visibility: hidden;
}

.disappear {
  display: none;
}

.cmp-example--group {
  background-color: #ffded5;
}

.cmp-example--type {
  display: flex;
  justify-content: center;
}