#input {

  font-size: 1rem;
  width: 25em;
  height: 3em;
  border-bottom: solid #FFF5EE 2px;
  background-color: white;

  .arrow {
    font-size: 1rem;
    width: 2em;
    height: 2em;
    position: relative;
    margin: 1em;
  }

  .arrow::before {
    display: inline-block;
    content: " ";
    height: 1em;
    width: 1em;
    border-width: 0 .15em .15em 0;
    border-color: #999999;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform-origin: center;
  }

  .deepArrow::before {
    border-color: black;
  }

  .valueInput {
    font-size: 1rem;
    width: calc(100% - 4em);
    height: 3em;
    border: none;
  }

}