#todos {

  overflow: auto;

  .todos-title {
    color:plum;
    font-size: 4rem;
    height: .5em;
    line-height: .5em;
    text-align: center;
  }

  .todos-content {
    border: solid #FFF5EE 2px;
  }

}